body{
    margin:0;
}

.container{
    text-align:center;
    margin:0;
    padding:0;
}

h2{
    font-family: 'Fredoka', sans-serif;
    color: rgb(64 ,51 ,97,1);
}

h3{
    font-family: 'Fredoka', sans-serif;
    
}

a{
    font-family: 'Fredoka', sans-serif;
}


label{
    font-weight: bold;
}

/*header*/
header{
    width:100%;
}

.displayheader{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    border-bottom: thick double black;
    border-width:5px;
}

.menuheader{
    display:flex;
    align-items:center;
}

.menuheader>ul{
    display:flex;
    list-style: none;
    padding:0;
}

.menuheader>ul>li{
    margin: 0 2%;
    text-decoration:none;
    transition:transform 1s;
    margin: 0  1.5em;
}
.menuheader>ul>li:hover{
    transform: scale(1.3);
}

.menu>li>a{
    font-family: 'Fredoka', sans-serif;
    text-decoration:none;
    color: rgb(64 ,51 ,97,1);
    font-size:1.5em;
}


main{
    padding: 3% 10%;
    background-color: #d0cbcb;
}

.erreur{
    color:red;
}

.form_icon_button{
    border: none;
    background-color: white;
    font-size: 1.5em;
    cursor:pointer;
}

/*main de home*/

.block-search{
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#search{
  width: 42%;
  height: 25px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 1);
  text-align: center;
}

#list-search{
    padding:0;
    list-style:none;
    background-color:white;
}

#list-search>li>a{
    text-decoration:none;
    font-size: 1.5em;
}



.presentation{
    margin:37px 0;
    display:flex;
    justify-content:space-evenly;
    background-color:white;
}

.presentation>article{
    padding:18px;
}

.notremagasin>p{
    text-align:justify;
}

.vendeur{
    display:flex;
    justify-content:space-evenly;
    background-color:white;
}

.vendeur>article{
    padding:18px;
}

.vendeur>article>p{
    text-align:justify;
}

      /*main de login*/
      
.showlogin{
    display:flex;
    justify-content:center;
}      
      
      
.login{                                   
    text-align:left;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    width:30em;
    height:30em;
    background-color:rgba(255,255,255, 0.9);
    margin:40px 0;
    border-radius:2em;
}

.login>div{
    display:flex;
    width:70%;
    flex-direction:column;
}

.login>div>input{
    height:3em;
    border-radius:2em;
    background-color:#e6e6e6;
    padding: 0 0 0 2em; 
    border:none;
}

.login>div>label{
    margin-left:1em;
    font-family: 'Fredoka', sans-serif;
}

.login>h3{
    font-family: 'Fredoka', sans-serif;
}

.loginbutton>button{
    height:2.5em;
    border-radius:2em;
    background: linear-gradient(-135deg,#000000,#6e7181);
    color:white;
    border:none;
    font-family: 'Fredoka', sans-serif;
    font-size:1.5em;
    cursor: pointer;
}

.login>a{
    font-family: 'Fredoka', sans-serif;
    font-size:1.5em;
    text-decoration:none;
    text-align:center;
}


/* shop*/
.shopinstruments{
    display:flex;
    justify-content:center;
}
.categories{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}
.categories>article{
    width: 25em;
    height:25em;
    margin: 1% 2%;
    border:1px solid black;
    background-color:rgba(255,255,255, 1);
    border-radius:9%;
    transition: 1.5s;
}

.categories>article:hover{
    transform: scale(1.2);
}

.categories>article>h2{
    font-size:2em;
    text-decoration:none;
}
.categories>article>a>img{
    width: 18em;
    height:15em;
}
.search{
    width:50%;
    height:30px;
    margin-bottom:50px;
}
.search::before{
    content:"ppppppp";
}

/*main de display one intrument*/
.displayoneinstrument{
    display:flex;
    justify-content:center;
}


 /*main de articles*/
 
.ensembleinstruments{
    text-align: -webkit-center;
    width:100%;
} 
.instrument{
    display: flex;
    text-align: justify;
    margin: 31px 0;
    width: 60%;
    background-color: white;
    border-radius: 1em;
}

.productcontent>ul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    list-style-type: none;
}

.productcontent>ul>li{
    margin:2% 0;
}

.productimage{
    width:35%;
    height: 14em;
    display:flex;
    justify-content:center;
    align-items:center;
}

.productimage>img{
    width:80%;
    height:12em;
}

.productcontent{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:50%;
}

.productcontent>ul>a{
    font-family: 'Fredoka', sans-serif;
    font-size:1.5em;
    text-decoration: none;
    color: rgb(64 ,51 ,97,1);
}


/*main de account*/

.menuaccount{
    display:flex;
    justify-content:center;
}

.menuaccount>ul{
    display: flex;
    justify-content:space-evenly;
    background-color:white;
    width:30%;
    border-radius:2em;
    padding:0;
}

.menuaccount>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 56px;
    height: 47px;
    margin: 0px 20px;
    padding:12px;
    transition:transform 1s;
}

.menuaccount>ul>li:hover{
   transform: scale(1.3);
}

.displayprofil{
    display:flex;
    justify-content:center;
}

.showprofil{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250 245 245 / 88%);
    margin: 40px 0;
    border-radius: 2em;
}

.showprofil>h2{
    font-size: 2.5em;
    background-color: white;
    border-radius: 2em;
    width: 8em;
    
    padding: 0.2em
}

.showprofil>ul{
    list-style:none;
    margin:0;
    padding:0;
}

.showprofil>ul>li{
    margin:36px 0;
    text-align:start;
    
}

.userprofilecontent{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

.usercontent{
    display: flex;
    align-items: center;
    min-width:38%;
    background-color:white;
    margin: 6px 31px;
    border-radius: 1em;
    padding: 5px;
}

.userbuttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin:2em;
}

.userbuttons>form>button{
    height:2.5em;
    border-radius:2em;
    background: linear-gradient(-135deg,#000000,#6e7181);
    color:white;
    border:none;
    font-family: 'Fredoka', sans-serif;
    font-size:1.3em;
    cursor: pointer;
}
.userbuttons>a>button{
    height:2.5em;
    border-radius:2em;
    background: linear-gradient(-135deg,#000000,#6e7181);
    color:white;
    border:none;
    font-family: 'Fredoka', sans-serif;
    font-size:1.3em;
    cursor: pointer;
}

.showwallet{
    display:flex;
    justify-content:center;
}

.showwallet>article{
    text-align:left;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:30em;
    height:22em;
    background-color:rgb(250 245 245 / 88%);
    margin:40px 0;
    border-radius:10%;
}

.showwallet>article>h2{
    font-size: 1.8em;
    background-color: white;
    border-radius: 2em;
    padding: 0.4em;
}

.showwallet>article>form{
    display:flex;
    flex-direction:column;
}

.money{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.money>input{
    height:3em;
    border-radius:2em;
    background-color:#e6e6e6;
    padding: 0 0 0 2em; 
    border:none;
}

.money>label{
    margin-left:1em;
    font-family: 'Fredoka', sans-serif;
}



.addmoneybutton>button{
    height:2.5em;
    border-radius:2em;
    background: linear-gradient(-135deg,#000000,#6e7181);
    color:white;
    border:none;
    font-family: 'Fredoka', sans-serif;
    font-size:1.5em;
}

.money,
.addmoneybutton{
    margin:1em 0;
}

.addmoneybutton{
    display: flex;
    justify-content: center;
}


/*admin account*/

.menuadminaccount{
    display: flex;
    justify-content: space-evenly;
    background-color:white;
    border-radius:2em;
}

.menuadminaccount>ul{
    display: flex;
    justify-content: space-evenly;
    padding:0;
   
}

.menuadminaccount>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0px 20px;
    transition:transform 1s;
}



.menuadminaccount>ul>li:hover{
   transform: scale(1.3);
}

.adminaddproduct{
    display:flex;
    justify-content:center;
}

#icon_form_admin{
    display: flex;
    width: 9%;
}

#icon_form_admin>button{
    color:blue;
}

.champbutton>button{
    height:2.5em;
    border-radius:2em;
    background: linear-gradient(-135deg,#000000,#6e7181);
    color:white;
    border:none;
    font-family: 'Fredoka', sans-serif;
    font-size:1.5em;
}

.register>div>select{
    height: 3em;
    border-radius: 2em;
    background-color: #e6e6e6;
    padding: 0 0 0 2em;
    border: none;
}


.addimage{
   display:flex;
   flex-direction:column;
}

.addimage>label{
    margin-left:1em;
    font-family: 'Fredoka', sans-serif;
}

.showadminproducts{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.admininstrument>div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 53%;
}

.admininstrument>div:nth-child(1)>img{
    width: 80%;
    height: 8em;
}    
    
.displayicons{
    height: 2.5em;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.displayicons>a>i{
    width: 1em;
    font-size: 1.5em;
    color: black;
}

.categoryregister{
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 39em;
    height: 24em;
    background-color: rgba(255,255,255, 0.9);
    border: 1px solid black;
    margin: 40px 0;
    border-radius: 2em;
}
.categoryregister>div>select{
    height: 3em;
    border-radius: 2em;
    background-color: #e6e6e6;
    padding: 0 0 0 2em;
    border: none;
}

.adminaddcategory{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.categorycontent>h2{
    margin-bottom: 2em;
}


.showallcategories{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.showallorders{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.orders{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 35em;
    height: 45em;
    background-color: rgba(255,255,255, 0.9);
    border: 1px solid black;
    margin: 40px 0;
    border-radius: 2em;
}

.client{
margin-right: 5%;
}

.orderproduct{
    display:flex;
    justify-content:center;
    width:100%;
}

.orderproduct>div{
    width:46%;
}

.orderproductcontent{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderproductimage{
    width: 35%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.orderproductimage>img{
    height: 81%;
    width: 67%;
}


.showOrders>article{
    width:285px;
}

.showandhide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.showandhide>section{
    width:80%;
}

.showAdminUsers{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}



.users{
    width: 52%;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 5% 0;
    background-color: white;
    border-radius: 2em;
}
.users>a>i{
    width: 1em;
    font-size: 1.5em;
    color: black;
}



.hide{
    display:none;
}

.selection>h2{
    color:red;
}



/* register*/

     
.showregisterform{
    display:flex;
    justify-content:center;
}

.register{
    text-align:left;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    width:35em;
    height:45em;
    background-color:rgba(255,255,255, 0.9);
    margin:40px 0;
    border-radius:2em;
}

.field{
    display:flex;
    width:70%;
    flex-direction:column;
}

.field>input{
    height:3em;
    border-radius:2em;
    background-color:#e6e6e6;
    padding: 0 0 0 2em; 
    border:none;
}

.field>label{
    margin-left:1em;
    font-family: 'Fredoka', sans-serif;
}

.registerbutton{
    width:70%;
    display:flex;
    justify-content:center;
}

.registerbutton>button{
    width:100%;
    height:2.5em;
    border-radius:2em;
    background: linear-gradient(-135deg,#000000,#6e7181);
    color:white;
    border:none;
    font-family: 'Fredoka', sans-serif;
    font-size:1.3em;
    cursor: pointer;
    
}

.register>h3,
.register>label{
    font-family: 'Fredoka', sans-serif;
}

.register>input{
    margin-bottom: 37px;
}
.register>a{
    font-family: 'Fredoka', sans-serif;
    font-size:1.5em;
    text-decoration:none;
}




/*registeraccepted*/


.showaccepted{
    display:flex;
    justify-content:center;
}

.confirmed{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    width:30em;
    height:20em;
    background-color:rgba(255,255,255, 0.9);
    margin:40px 0;
    border-radius:1em;
}

.confirmed>a{
    font-family: 'Fredoka', sans-serif;
    font-size:1.5em;
    text-decoration:none;
}

.confirmed>h2{
    font-size:2em;
}

/*emptybasket*/


.displayemptypanier{
   display:flex;
   flex-direction:column;
}

.paniercontent{
   display:flex; 
   background-color:white;
   border-radius:2em;
   width:52%;
}

.emptybasketimage{
    padding:2%;
}
.emptybasketimage>img{
    width:12em;
}


.emptymessage{
    display:flex;
    justify-content:center;
    align-items:center;
}



/*basket*/

.panier{
    display:flex;
    justify-content:center;
}

.possiblecommande{
    width:70%;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    border-radius:2em;
}

.possiblecommande>h2{
    font-size:2em;
}

.possiblecommande>article{
    width:90%;
    border:none;
}

.formdeletearticlefrombasket>button{
    height:2em;
    font-size:1.5em;
    margin:0.5em 0;
    border:none;
    background-color:white;
    cursor: pointer;
}

.possiblecommande>h2:nth-child(3){
    width:70%;
}

.possiblecommande>form>button{
    height:2em;
    border-radius:2em;
    background: linear-gradient(-135deg,#000000,#6e7181);
    color:white;
    border:none;
    font-family: 'Fredoka', sans-serif;
    font-size:1.5em;
    margin:1em 0;
    cursor: pointer;
}

.formcreateorder>button{
    width:10em;
}

.formdeletebasket>button{
    width:10em;
}


/*orders*/

.displayorders{
    display:flex;
    justify-content:center;
}

.commandes{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    border-radius:2em;
}

.commandes>article{
    width:90%;
    border:none;
}

.formdeleteorder>button{
    height:2em;
    font-size:1.5em;
    margin:0.5em 0;
    border:none;
    background-color:white;
    cursor: pointer;
}

.commandes>h2{
    font-size:2em;
}

.commandes>form>button{
    height:2em;
    border-radius:2em;
    background: linear-gradient(-135deg,#000000,#6e7181);
    color:white;
    border:none;
    font-family: 'Fredoka', sans-serif;
    font-size:1.5em;
    margin:0.7em 0;
    cursor: pointer;
}


/*empty order*/


.displayemptyorders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 22em;
}

.order{
   display:flex; 
   background-color:white;
   border-radius:2em;
   width:44%;
}

.orderscontent{
    display:flex;
    
}
.emptyorderimage{
    padding:2%;
}

.emptyorderimage>img{
    width:12em;
}

.emptymessage{
    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
}


/*footer*/

footer{
    background-color:#252530;
    display:flex;
    justify-content:space-evenly;
}

footer>section{
    text-align:center;
    color:white;
}
    
.infos{
    text-align:justify;
}    
    
.infos> p:nth-child(2)::before{
    content: "🏠";
    margin-right:11px;
}

.infos> p:nth-child(3){
    margin-left: 31px;
}

.infos> p:nth-child(4)::before{
    content: "📧";
    margin-right:11px;
}

.infos> p:nth-child(5)::before{
    content: "☎️";
    margin-right:11px;
}

.socialIcons>a{
    color:#8a93ff;
    font-size:35px;
    text-decoration:none;
    margin:0 21px;
}

.conditions{
    display:flex;
    flex-direction:column;
}
.conditions>a{
    margin:6% 0;
    text-decoration:none;
    color:#eadc0c;
}

footer>section>ul>li{
    margin:0;
    list-style-type: none;
}

/*** queryyyyyy time*****/
@media screen and (max-width: 1000px) {
    
/**header query max-width: 768px**/    
.displayheader{
    flex-direction:column;
    align-items:center;
}    

.socitytitle{
    width:100%;
}

.menuheader>ul{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/**footer query max-width: 768px***/
footer{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.infos,
.reseaux,
.fournisseurs{
    margin:15px 0;
}

/****main de login basket query max-width: 768px****/

.login>a{
    font-size: 1.2em;
}

/****main de  register query max-width: 768px****/

.register>a{
    font-size:1.1em;
}


/****main de  registeraccepted query max-width: 768px****/

.confirmed>a{
    font-size:2em;
}


/****main de home query max-width: 768px****/
.presentation,
.vendeur{
    flex-direction:column;
}

/****main de account query max-width: 768px****/
.menuaccount>ul{
    width:84%;
    justify-content:center;
}

.showandhide>section{
    width:100%;
}

.showprofil>h2{
    background:none;
}
.userbuttons{
    flex-direction:column;
}

.userbuttons>form{
    margin: 3% 0;
}

.userprofilecontent{
    justify-content:center;
}

.usercontent{
    flex-direction: column;
    min-width: 78%;
}
.userbuttons>form>button {
    width: 68%;
}

.userbuttons>a>button {
    width: 68%;
}

#displayuserwallet>article>h2{
    background:none;
}

/****main de addmin account query max-width: 768px****/

.menuadminaccount{
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.menuadminaccount>ul{
    flex-direction:column;
}

#icon_form_admin {
    margin-bottom: 2em;
}

.showandhide{
    margin:2em 0;
}

.admininstrument{
    width:90%;
}

.admininstrument>div:nth-child(1)>img{
    height: 12em;
    width: 76%;
}

.categoryregister{
    width:100%;
}
.categoryregister>h2{
    text-align:center;
}

.orders{
    width:100%;
}

.users{
    width:100%;
}
/****main de  instruments query max-width: 768px****/

.ensembleinstruments>article{
    margin: 10% 0;
    width: 100%;
}

.ensembleinstruments>article>div:nth-child(2){
    width:77%;
}

.productcontent>h2{
    text-align:center;
}

/****main de  basket query max-width: 768px****/

.possiblecommande{
    width:100%;    
}

.possiblecommande>h2{
    font-size:1em;
}

.possiblecommande>p{
    font-size:0.7em;
}

.possiblecommande>form>button {
    font-size: 1em;
}

.instrument{
    margin:1em 0;
}
/****main de empty basket query max-width: 768px****/

.paniercontent{
    width:22em;    
}

.emptybasketimage{
    padding: 3%;
}

.emptybasketimage>img {
    width: 8em;
}

.panier{
    margin:20% 0;
}

.paniercontent{
    flex-direction:column;
    align-items:center;
}

.emptymessage{
    width:100%;
}

/****main de order query max-width: 768px****/
.instrument{
    flex-direction:column;
    align-items:center;
}

.productimage{
    width:100%
}

.productcontent{
    width:100%;
}

.productcontent>ul{
    padding:0;
}

.commandes {
    margin:13% 0;
}

/****main de empty order query max-width: 768px****/
.order{
    width: 72%;
}
.orderscontent {
    flex-direction: column;
}



/****main de confirmedOrNot query max-width: 768px****/
.confirmed>h2 {
    font-size: 2.3em;
}

.confirmed{
padding: 2%;
}

}
