body{
    margin:0;
}

.container{
    text-align:center;
}

button{
    background:rgba( 239, 119, 25, 0.8);
    border-radius:10%;
}

h2{
    font-family: 'Grape Nuts', cursive;
    color:rgba( 239, 119, 25, 0.8);
}

h3{
    font-family: 'Grape Nuts', cursive;
}

/*header*/
header{
    width:100%;
}

.displayheader{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    border-bottom: thick double black;
    border-width:5px;
  
}

.menuheader{
    display:flex;
    align-items:center;
}

.menuheader>ul{
    display:flex;
    list-style: none;
    margin:0;
}

.menuheader>ul>li{
    margin: 0 2%;
    text-decoration:none;
    transition:transform 1s;
    margin: 0  1.5em;
}
.menuheader>ul>li:hover{
    transform: scale(1.3);
}

.menu>li>a{
    font-family: 'Grape Nuts', cursive;
    text-decoration:none;
    color:rgba( 239, 119, 25, 0.8);
    font-size:1.9em;
}


main{
    padding: 3% 10%;
    background-image: url("../img/ripples.png");
    /*background: #ededed;*/

}

/*main de home*/

.block-search{
    width:100%;
    height: 6em;
    display:flex;
    justify-content:center;
    align-items:center;
}

.search input[type=text]{
  width: 500px;
  height: 25px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.search{
  margin:7px;
}
      
.search button{
  background-color: #422f2de0;
  color: #fff;
  padding: 5px 8px;
  margin-left: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
} 

.presentation{
    margin:37px 0;
    display:flex;
    justify-content:space-evenly;
    border:1px solid black;
    background-color:white;
}

.presentation>article{
    padding:18px;
}

.notremagasin>p{
    text-align:justify;
}

.vendeur{
    display:flex;
    justify-content:space-evenly;
    border:1px solid black;
    background-color:white;
}

.vendeur>article{
    padding:18px;
}

.vendeur>article>p{
    text-align:justify;
}

      /*main de login*/
      
.showlogin{
    display:flex;
    justify-content:center;
}      
      
      
      
.login{                                   
    text-align:left;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    width:30em;
    height:30em;
    background-color:rgba(255,255,255, 0.9);
    border:1px solid black;
    margin:40px 0;
    border-radius:10%;
}

.login>div{
    display:flex;
    width:70%;
    flex-direction:column;
}

.login>div>input{
    height:3em;
    border-radius:2em;
    background-color:#e6e6e6;
    padding: 0 0 0 2em; 
    border:none;
}
.login>div>label{
    margin-left:1em;
    font-family: 'Fredoka', sans-serif;
}

.login>h3{
    font-family: 'Fredoka', sans-serif;
}
.loginbutton>button{
    height:3em;
    border-radius:2em;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    color:white;
    border:none;
    font-family: 'Fredoka', sans-serif;
    font-size:1.3em;
}

.login>a{
    font-family: 'Grape Nuts', cursive;
    font-size:1.5em;
}


/* shop*/
.shopinstruments{
    display:flex;
    justify-content:center;
}
.categories{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}
.categories>article{
    width: 30em;
    height:25em;
    margin: 1% 2%;
    border:1px solid black;
    background-color:rgba(255,255,255, 1);
    border-radius:9%;
    transition: 1.5s;
}

.categories>article:hover{
    transform: scale(1.2);
}

.categories>article>h2{
    font-size:2em;
    text-decoration:underline;
}
.categories>article>a>img{
    width: 25em;
    height:18em;
}
.search{
    width:50%;
    height:30px;
    margin-bottom:50px;
}
.search::before{
    content:"ppppppp";
}


 /*main de articles*/
 
.ensembleinstruments{
    text-align: -webkit-center;
    width:100%;
} 
.instrument{
    display:flex;
    text-align: justify;
    margin:31px 0;
    border:1px solid black;
    width: 80%;
}
.instrument>ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.instrument>ul>li{
    width:90%;
}
.instrument>img{
    width:35%;
}
/*main de account*/
.menuaccount>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: white;
    width: 56px;
    height: 47px;
    margin: 0px 20px;
    border-radius: 52%;
    padding:12px;
    transition: border-radius 2S;/* a revoir */
}
.menuaccount>ul>li:hover{
    border-radius:0%;
}

.menuaccount>ul{
    display: flex;
    justify-content: space-evenly;
    background-color:orange;
    padding: 3px;
}
.showandhide{
    display:flex;
    justify-content:center;
}
.showprofil{
    text-align: justify;
    display: flex;
    justify-content: center;
    width: 270px;
}
.showprofil>ul{
    border:1px solid black;
    background-color:#ddbcbc;
    border-radius:20%;
    width:100%;
}

.showprofil>ul>li{
    margin:36px 0;
}

.showwallet{
    display:flex;
    justify-content:center;
}

.showwallet>article{
    border:1px solid black;
    width:285px;
    margin:15px 0;
}

.argent>input,
.argent>button{
   margin-bottom:15px;
}

.argent{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.showOrders{
    display:flex;
    justify-content:center;
    margin:15px 0;
}
.orders{
    border:1px solid black;
    width:50%;
    margin:5% 0;
}
.orders>ul{
    list-style: none;
}
.users>ul{
    list-style: none;
}

.showOrders>article{
    border:1px solid black;
    width:285px;
}
.showandhide{
    display:flex;
    justify-content:center;
    
}
.showandhide>section{
    width:80%;
}
.showAdminUsers{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.users{
    display:flex;
    width:50%;
    justify-content:center;
    border:1px solid black;
    margin: 5% 0;
}


/* register*/

     
.showregisterform{
    display:flex;
    justify-content:center;
}

.register{
    text-align:left;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    width:35em;
    height:45em;
    background-color:rgba(255,255,255, 0.9);
    border:1px solid black;
    margin:40px 0;
    border-radius:10%;
}

.register>div{
    display:flex;
    width:70%;
    flex-direction:column;
}

.register>div>input{
    height:3em;
    border-radius:2em;
    background-color:#e6e6e6;
    padding: 0 0 0 2em; 
    border:none;
}

.register>div>label{
    margin-left:1em;
    font-family: 'Fredoka', sans-serif;
}

.registerbutton>button{
    height:3em;
    border-radius:2em;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    color:white;
    border:none;
    font-family: 'Fredoka', sans-serif;
    font-size:1.3em;
}

.register>h3,
.register>label{
    font-family: 'Fredoka', sans-serif;
}

.register>input{
    margin-bottom: 37px;
}
.register>a{
    font-family: 'Grape Nuts', cursive;
    font-size:1.5em;
}
}


/*register accepted*/


.confirmed{
    display:flex;
    justify-content:center;
}

.showaccepted{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 21%;
    width: 35%;
    height: 262px;
    margin: 61px 0;
}

/*footer*/

footer{
    background-color:#252530;
    display:flex;
    justify-content:space-evenly;
}

footer>section{
    text-align:center;
    color:white;
}
    
.infos{
    text-align:justify;
}    
    
.infos> p:nth-child(2)::before{
    content: "🏠";
    margin-right:11px;
}

.infos> p:nth-child(3){
    margin-left: 52px;
}

.infos> p:nth-child(4)::before{
    content: "📧";
    margin-right:11px;
}

.infos> p:nth-child(5)::before{
    content: "☎️";
    margin-right:11px;
}

.reseaux>a{
    color:#8a93ff;
    font-size:35px;
    text-decoration:none;
    margin:0 21px;
}

footer>section>ul>li{
    margin:0;
    list-style-type: none;
}


.panier{
    display:flex;
    justify-content:center;
}
.commande{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.commande>h2{
    margin-top: 54px;
}

/*** queryyyyyy time*****/
@media screen and (max-width: 768px) {
    
body{
    background-color:red;
}    
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    margin:0;
}
header{
    display:flex;
    flex-direction:column;
    width:100%;
}
.laboutiquedesktop{
    display: none !important;
}
.mobile{
    display: block;
    width:100%;
}
.mobilemenu{
    display: block;
    list-style: none;
    margin:0;
    padding:0;
}

.mobilemenu>li>a{
    text-decoration:none;
    color:black;
}
main{
    width:80%;
}



/*@media shop*/

.shopinstrumentsdesktop{
    display:none;
}

.shopinstrumentsmobile{
    display:block;
   
}
.categoriesmobile{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.search{
    margin:none;
}
.categoriesmobile>article{
    width: 63%;
    border:1px solid black;
    background-color:grey;
    border-radius:9%;
}

.categoriesmobile>article>a>img{
    width:5px;
}

categoriesmobile>article{
    border:1px solid black;
}

.instrument{
    flex-direction:column;
}

.instrument>img{
    width:100%;
}

/**@media footer**/
footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:99%;
}
.infos,
.reseaux,
.fournisseurs{
    margin:15px 0;
}
.presentation,
.vendeur{
    flex-direction:column;
}

}






