                <main>
                    <nav class="menuaccount"><!--dhizdhizhdiz-->
                        <ul >
                            <li class="display_profil">profil</li>
                            <li class="display_wallet">portefeuille</li>
                        </ul>
                    </nav>
                    <div class="showandhide">
                        <section class="displayprofil">
                            <div class="showprofil">
                                <h2>Votre compte</h2>
                                <ul>
                                    <li>NOM : {%nom%}</li>
                                    <li>Prénom: {%prenom%}</li>
                                    <li>Email : {%email%}</li>
                                    <li>Domicile : {%adresse%}</li>
                                </ul>
                                <a href="index.php?url=formmodifyuser&id={%id%}">Modifier profil.</a></li>
                                <a href="index.php?url=logout">Se déconnecter.</a></li>
                                <a href="index.php?url=deleteuser&id={%id%}">Supprimer votre compte.</a>
                            </div>    
                        </section>
                         <section class="showwallet">
                            <article>
                                <h3>Votre solde</h3>
                                <p>{%solde%}€</p>   
                                <form class="argent" action="index.php?url=addargent" method="post">
                                <input type="text" placeholder="Enter amount" name="montant" required>  <!-- retravailler pour php-->  
                                <button type="submit">ajouter argent</button>
                            </article>
                        </section>
                    </div>
                </main>
               