                <main>
                    <nav class="menuaccount"><!--dhizdhizhdiz-->
                        <ul >
                            <li id="profil">ajouter article</li>
                            <li id="wallet">tous les articles</li>
                            <li id="orders">creer catégorie</li>
                            <li id="categories">toutes les  catégorie</li>
                            <li><a href="index.php?url=logout">se déconnecter</a></li>
                        </ul>
                    </nav>
                    <div class="showandhide">
                        <section class="showprofil">
                             <form class="register" action="index.php?url=createproduct" method="POST" enctype="multipart/form-data">
                                <h3>Créer un article</h3>
                                <label for="category-select">Catégorie de l'intrument:</label>
                                <select name="category" id="category-select" required>
                                    <option value="">Veuillez choisir</option>
                                    <option value="2">Instruments à vent</option>
                                    <option value="4">Instruments à cordes</option>
                                    <option value="1">Piano</option>
                                    <option value="3">Percussion</option>
                                </select>
                                <label for="productName">Nom</label> 
                                <input type="text" id="productName" name="name" value="" required>
                                <label for="description">description</label> 
                                <input type="text" id="description" name="description" value="" required maxlength="250">
                                <label for="price">Prix </label> 
                                <input type="number" id="price" name="price" value="" required>
                                <label for="quantity">Quantité </label> 
                                <input type="number" id="price" name="quantity" value="" required>
                                <label for="file">Image</label>
                                <input type="file" name="file">
                                <input name="CSRFtoken" type="hidden" value="{%$token%}">
                                <div class="champbutton">
                                    <button type="submit">Créer article</button>
                                </div>    
                            </form> 
                        </section>
                         <section class="showwallet">
                            {%article%}
                        </section>
                         <section class="showOrders">
                             <form class="register" action="index.php?url=createcategory" method="POST" enctype="multipart/form-data">
                                <h3>Créer une catégorie</h3>
                                <label for="categoryName">Nom</label> 
                                <input type="text" id="categoryName" name="name" value="" required>
                                <label for="file">Image</label>
                                <input type="file" name="file">
                                <input name="CSRFtoken" type="hidden" value="{%$token%}">
                                <div class="champbutton">
                                    <button type="submit">Créer catégorie</button>
                                </div>    
                            </form>
                        </section>
                        <section class="showCategories">
                           {%categories%}
                        </section>
                    </div>
                </main>
               