                <main>
                    <nav class="menuaccount"><!--dhizdhizhdiz-->
                        <ul >
                            <li id="profil">ajouter article</li>
                            <li id="wallet">modfier articles</li>
                            <li id="modifier">modfier articles</li>
                            <li id="orders">commandes</li>
                        </ul>
                    </nav>
                    <div class="showandhide">
                        <section class="showprofil">
                             <form class="register" action="index.php?url=createProduct" method="post">
                                <h3>Créer un article</h3>
                                <label for="category-select">Catégorie de l'intrument:</label>
                                <select name="category" id="category-select">
                                    <option value="">Veuillez choisir</option>
                                    <option value="vent">Vent</option>
                                    <option value="cordes">Cordes</option>
                                    <option value="piano">Piano</option>
                                    <option value="percussion">Percussion</option>
                                </select>
                                <label for="productName">Nom</label> 
                                <input type="text" id="productName" name="name" value="" required>
                                <label for="description">description</label> 
                                <input type="text" id="description" name="description" value="" required maxlength="250">
                                <label for="price">Prix </label> 
                                <input type="text" id="price" name="price" value="" required>
                                <label for="quantity">Quantité </label> 
                                <input type="number" id="price" name="price" value="" required>
                                <label for="image">image </label> 
                                <input type="text" id="image" name="image" value="" required>
                                <input name="CSRFtoken" type="hidden" value="{%$token%}">
                                <div class="champbutton">
                                    <button type="submit">Créer article</button>
                                </div>    
                            </form> 
                        </section>
                         <section class="showwallet">
                            <article>
                                <h3>Votre solde</h3>
                                <p>{%solde%}</p>   
                                <form class="argent" action="index.php?url=addargent" method="post">
                                <input type="text" placeholder="Enter amount" name="montant" required>  <!-- retravailler pour php-->  
                                <button type="submit">ajouter argent</button>
                            </article>
                        </section>
                         <section class="showOrders">
                            <article>
                                <h3>Votre commande</h3>
                            </article>
                        </section>
                    </div>
                </main>
               