                <main>
                    <section class="panier">
                        <div class="commande">
                            <h2>Votre panier</h2>
                            {%article%}
                            {%message%}
                            {%prixtotal%}
                            <a href="./index.php?url=createorder"><input type="button" value="valider la commande"></a>
                            <a href="./index.php?url=deletebasket"><input type="button" value="effacer le panier"></a>
                        </div>    
                    </section>
                </main>
                