                <main>
                    <section class="panier">
                        <div class="possiblecommande">
                            <h2>Votre panier</h2>
                            {%article%}
                            {%prixtotal%}
                            <form class="formcreateorder" action="./index.php?url=createorder" method="post">
                                <button type="submit">Valider  commande</button>
                            </form>   
                             <form class="formdeletebasket" action="./index.php?url=deletebasket" method="post">
                                <button type="submit">effacer le panier</button>
                            </form> 
                        </div>    
                    </section>
                </main>
                