                <main>
                    <section class="displayemptypanier">
                        <div class="panier">
                            <div class="paniercontent">
                                <div class="emptybasketimage">
                                    <img src="./public/assets/img/paniervide.jpg" alt="image de panier vide">
                                </div>
                                <div class="emptymessage">
                                    <h3>Votre panier est vide.</h3>
                                </div>
                            </div>
                        </div>    
                    </section>
                </main>
                