                <main>
                    <section class="displayemptyorders">
                        <div class="order">
                            <div class="orderscontent">
                                <div class="emptyorderimage">
                                    <img src="./public/assets/img/carton.jpeg" alt="image de commande vide"/>
                                </div>
                                <div class="emptymessage">
                                    <h3>Pas de commande en cours.</h3>
                                </div>
                            </div>
                        </div>    
                    </section>
                </main>
                