                <main>
                <section class="showregisterform">    
                    <form class="categoryregister" action="index.php?url=modifycategory" method="post" enctype="multipart/form-data">
                        <h2>Modifier  une catégorie</h2>
                            <input type="hidden" id="productId" name="id" value="{%id%}" required>
                        <div class="separation">
                            <label for="categoryName">Nom</label> 
                            <input type="text" id="categoryName" name="name" value="{%name%}" required>
                        </div>    
                        <div class="addimage">
                            <label for="file">Image</label>
                            <input type="file" name="file" required>
                        </div>
                            <input name="csrf_token" type="hidden" value="{%$token%}">
                        <div class="registerbutton">
                            <button type="submit">Modifer article</button>
                        </div>    
                    </form> 
                </section>
                </main>
               