                <main>
                <section class="showregisterform">    
                    <form class="categoryregister" action="index.php?url=adminmodifyorder" method="post" >
                        <h2>Modifier statut de la commande</h2>
                            <div class="separation">
                            <label for="category-select">Catégorie de l'intrument:</label>
                            <select name="status_id" id="order-select" required>
                                <option value="">Veuillez choisir</option>
                                <option value="1">Votre commande va être traitée.</option>
                                <option value="2">En cours de traitement.</option>
                                <option value="3">En cours de livraison.</option>
                                <option value="4">Commande livrée.</option>
                                <option value="5">Commande perdue.</option>
                            </select>
                        </div>
                        <input type="hidden"  name="id" value="{%id%}" required>
                        <input name="csrf_token" type="hidden" value="{%$token%}">
                        <div class="registerbutton">
                            <button type="submit">Modifer commande</button>
                        </div>    
                    </form> 
                </section>
                </main>
               