                <main>
                     <div class="block-search">
                        <input type="text" name="q-search" id="search" placeholder="Entrer votre recherche ..."/>
                        <ul id="list-search">
                        </ul>
                    </div>
                    <div class="presentation">
                        <img src="./public/assets/img/boutiqueinterieur.jpeg" alt="image intérieur de la boutique"/>
                        <article class="notremagasin">
                            <h2>Notre magasin</h2>  
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Quas, voluptas expedita natus fugit ratione dolorum nulla facilis fugiat alias a
                            liquid laudantium nisi mollitia quis quod dolor eum tempore placeat odio.20
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, asperiores.
                            </p>
                        </article>
                    </div>    
                     <div class="vendeur">
                        <article>
                            <h2>Bernard notre vendeur</h2>  
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Quas, voluptas expedita natus fugit ratione dolorum nulla facilis fugiat alias a
                            liquid laudantium nisi mollitia quis quod dolor eum tempore placeat odio.20
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, asperiores.
                            </p>
                        </article>
                        <img class="bernard" src="./public/assets/img/bernard.jpeg" alt="image du vendeur"/>
                    </div>    
                </main>
               