            <main>
                <section class="showlogin">
                       <!--formulaire pour se connecter-->
                    <form class="login" action="index.php?url=loginSecurity" method="post">
                        <h2>VOUS CONNECTER</h2>
                        <p class="erreur">{%error%}</p>
                        <input name="csrf_token" type="hidden" value="{%$token%}">
                        <div class="field">
                            <label for="email"><b>email</b></label>
                            <input id="email" type="text" placeholder="Enter email" name="email" required>
                        </div>
                        <div class="field">
                            <label for="password"><b>password</b></label>
                            <input id="password" type="password" placeholder="Enter password" name="password" required>
                        </div>
                        <div class="loginbutton">
                            <button type="submit">Login</button>
                        </div>
                        <a href="index.php?url=register" title="envoie sur le formulaire d'inscription">Pas de compte ? Inscrivez-vous.</a>
                    </form>    
                </section>
            </main>
            
           