            <main>
                <section class="showlogin">
                    <form class="login" action="index.php?url=loginSecurity" method="post">
                        <h2>VOUS CONNECTER</h>
                        <div class="email">
                            <label for="uname"><b>email</b></label>
                            <input type="text" placeholder="Enter email" name="email" required>
                        </div>
                        <div class="password">
                            <label for="uname"><b>password</b></label>
                            <input type="password" placeholder="Enter password" name="password" required>
                        </div>
                        <input name="CSRFtoken" type="hidden" value="{%$token%}">
                        <div class="loginbutton">
                            <button type="submit">Login</button>
                        </div>
                        <a href="index.php?url=register">Pas de compte ? Inscrivez-vous.</a>
                    </form>    
                </section>
            </main>
            
           