                <main>
                <section class="showregisterform">    
                    <form class="register" action="index.php?url=registerSecurity" method="post">
                        <h2>Inscription</h2>
                        <div class="separation">
                            <label for="lastName">Nom : </label> 
                            <input type="text" id="lastName" name="lastName" value="" required>
                        </div>
                        <div class="separation">
                            <label for="firstName">Prénom : </label> 
                            <input type="text" id="firstName" name="firstName" value="" required>
                        </div>    
                        <div class="separation">
                            <label for="email">Email : </label> 
                            <input type="email" id="email" name="email" value="" required>
                        </div>
                        <div class="separation">
                            <label for="adress">Adresse du domicile : </label> 
                            <input type="text" id="adress" name="adress" value="" required>
                        </div>  
                        <div class="separation">
                            <label for="password">Mot de Passe : </label> 
                            <input type="password" id="password" name="password" value="" required>
                        </div>    
                        <input name="CSRFtoken" type="hidden" value="{%$token%}">
                        <div class="registerbutton">
                            <button type="submit">Inscription</button>
                        </div>
                        <a href="index.php?url=login">Déja un compte ? Connectez vous.</a>
                    </form> 
                </section>
                </main>
               