                <main>
                    <div class="shop">
                        <div class="shopinstrumentsdesktop">      <!--warning revoir les noms-->
                            <section class="categories">
                                {% article %}
                            </section>
                        </div>
                        <input class="search" type="text" placeholder="Search..">
                        <div class="shopinstrumentsmobile">      <!--warning revoir les noms-->
                            <section class="categoriesmobile">
                                <input class="search" type="text" placeholder="Search..">
                                <article>
                                    <h2>Instruments à vent</h2>
                                    <a href="dzhdzhdzdh"><img src="./public/assets/img/sax.jpeg"/></a>
                                </article>   
                                <article>
                                    <h2>Instruments à cordes</h2>
                                    <a href="#"><img src="./public/assets/img/violon.jpg"/></a>
                                </article>   
                                <article >
                                    <h2> Percussions</h2>
                                    <a href=""><img src="./public/assets/img/batterie.jpeg"/></a>
                                </article> 
                                <article >
                                    <h2>Pianos</h2>
                                    <a href="#"><img src="./public/assets/img/piano3.jpg"/></a>
                                </article> 
                            </section>
                        </div>
                    </div>
                </main>
               