 <!--montre les commandes existantes en base de donnée pour l'admin-->
<article class="orders"> 
    <div class="ordercontent">
        <h2>Commande:numéro {%numerodelacommande%}</h2>
        <h3><strong>Date de la commande : </strong>{%datedelacommande%}</h3>
        <h3><strong>Statut de la commande :</strong></h3>
        <h3>{%status%}</h3>
    </div>
     <!--client de la commande-->
    <div class="client">
        <h2>Client</h2>
        <h3>Nom de famille : {%clientfamilyname%}</h3>
        <h3>Prenom : {%clientname%}</h3>
        <h3>Adresse du client : {%clientadresse%}</h3>
    </div>
    <div class="orderproduct">
        <!--produit commandé par le client-->
        <div class="orderproductcontent">
            <h2>Produit: {%nameproduit%}</h2>
            <h3>Quantitité : {%quantity%}</h3>
            <h3>Prix de {%price%} euros</h3>
        </div>
    </div>    
    <div class="displayicons">
        <!--va afficher le formulaire de modification du statut de la commande par l'admin-->
        <form class="icon_form" action="./index.php?url=formModifyOrder" method="post" >
            <input type="hidden"  name="id" value="{%id%}" required>
            <input name="csrf_token" type="hidden" value="{%$token%}">
            <button class="form_icon_button" type="submit">
                <i class="fa-solid fa-pen-clip"></i>
            </button>
        </form>
        <!--va afficher le formulaire de suppression de la commande par l'admin-->
        <form class="icon_form form_checker" action="./index.php?url=adminDeleteOrder" method="post" >
            <input type="hidden"  name="id" value="{%id%}" required>
            <input name="csrf_token" type="hidden" value="{%$token%}">
            <button class="form_icon_button" type="submit">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </form>
        </div>    
</article>