<article class="instrument admininstrument"> <!-- classe provisoire a retravailler-->
    <div class="productimage">
        <img src="{%urlImage%}" alt="image de produit"/>
    </div>   
    <div class="productcontent">
    <h2><strong>{%name%}</strong></h2>
        <ul>
            <li class="productdescription"><strong>description:</strong> {%description%}.</li>
            <li class="productquantity"><strong>quantité:    {%quantity%}.</strong></li>
            <li class="productprice">Prix: {%price%} euros.</li>
        </ul>
        <div class="displayicons">
            <a href="./index.php?url=formmodifyproduct&id={%id%}&token={%token%}"><i class="fa-solid fa-pen-clip"></i></a>
            <a href="./index.php?url=deleteproduct&id={%id%}&token={%token%}"><i class="fa-solid fa-trash-can"></i></a>
        </div>  
    </div>
</article>

