                <footer>
                    <section class="infos">
                        <h3>NOUS CONTACTER</h3>
                        <p>15 Rue des pommiers </p>
                        <p>49612 Angers</p>
                        <p>symphony@gmail.com</p>
                        <p>07 76 78 98 34</p>
                    </section>
                    <section class="reseaux">
                        <h3>RESEAUX SOCIAUX</h3>
                        <a href="comptefacebook"><i class="fa-brands fa-facebook"></i></a>
                        <a href="comptetwitter"><i class="fa-brands fa-twitter"></i></a>
                        <a href="compteinstagram"><i class="fa-brands fa-instagram"></i></a>
                    </section>
                    <section class="fournisseurs">
                        <h3>FOURNISSEURS</h3>
                            <p>Yamaha</p>
                            <p>Gibson</p>
                            <p>Pearl</p>
                    </section>
                </footer>
            </div> 
            <script type="module" src="./public/assets/js/main.js"></script>
        </body>
    </html>    