                <footer>
                    <section class="infos">
                        <h3>NOUS CONTACTER</h3>
                        <p>15 Rue des pommiers </p>
                        <p>49612 Angers</p>
                        <p>symphony@gmail.com</p>
                        <p>07 76 78 98 34</p>
                    </section>
                    <section class="reseaux">
                        <h3>RESEAUX SOCIAUX</h3>
                        <div class="socialIcons">
                            <a href="compteFacebook" title="Facebook de la boutique"><i class="fa-brands fa-facebook"></i></a>
                            <a href="compteTwitter" title="Twitter de la boutique"><i class="fa-brands fa-twitter"></i></a>
                            <a href="compteInstagram" title="Instagram de la boutique"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                        <div class="conditions">
                            <a href="https://www.amazon.fr/gp/help/customer/display.html?nodeId=201909000&ref_=footer_cou" title="Conditions générales">
                                Conditions générales de ventes  
                            </a>
                            <a href="https://www.amazon.fr/gp/help/customer/display.html?nodeId=201909010&ref_=footer_privacy" title="Conditions générales">
                                Vos informations personelles
                            </a>
                        </div>
                       
                    </section>
                    <section class="fournisseurs">
                        <h3>FOURNISSEURS</h3>
                            <p>Yamaha</p>
                            <p>Gibson</p>
                            <p>Pearl</p>
                    </section>
                </footer>
            </div> 
            <script type="module" src="./public/assets/js/main.js"></script>
        </body>
    </html>    