<body>
    <div class="container">
        <!--header quand le user n'est pas connecté-->
         <header>
            <div class="displayheader">
                <div class="socitytitle">
                    <img src="./public/assets/img/mainlogo.jpeg" alt="logo du site"/>
                </div>
                <div class="menuheader">
                    <ul class="menu">
                        <li>
                            <a href="./index.php?url=home " title="Page d'accueil">
                                <strong>Accueil</strong>
                            </a>
                        </li>
                        <li>
                            <a href="./index.php?url=shop" title="Page magasin">
                                <strong>Intruments</strong>
                            </a>
                        </li>
                        <li>
                            <a href="./index.php?url=login" title="Page de login">
                                <strong>Connexion</strong>
                            </a>
                        </li>
                        <li>
                            <a href="./index.php?url=register" title="Page de register">
                                <strong>Inscription</strong>
                            </a>
                        </li>
                        <li>
                            <a href="./index.php?url=basket" title="Page panier">
                                <strong>Panier</strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>