        <body>
            <div class="container">
                <header>
                    <div class="laboutiquedesktop">
                        <div class="socity">
                            <img src="./public/assets/img/logo.jpeg" alt="image du titre"/>
                            <h1>Simphony</h1>
                        </div>
                        <ul class="menuheader">
                            <li><a href="./index.php?url=home"><strong>Accueil</strong></a></li>
                            <li><a href="./index.php?url=login"><strong>Connexion</strong></a></li>
                            <li><a href="./index.php?url=shop"><strong>Nos intruments</strong></a></li>
                            <li><a href="./index.php?url=register"><strong>inscription</strong></a></li>
                            <li><a href="./index.php?url=basket"><strong>Panier</strong></a></li>
                        </ul>
                    </div>    
                    <div class="mobile">
                        <h1>Simphony</h1>
                        <ul class="mobilemenu">
                            <li><a href="./index.php?url=home"><strong>Accueil</strong></a></li>
                            <li><a href="./index.php?url=login"><strong>Se connecter</strong></a></li>
                            <li><a href="./index.php?url=register"><strong>Enregistrer</strong></a></li>
                            <li><a href="./index.php?url=shop"><strong>Nos intruments</strong></a></li>
                            <li><a href="./index.php?url=basket"><strong>Panier</strong></a></li>
                        </ul>
                    </div>
                </header>