        <body>
        <div class="container">
            <!--header quand le user est connecté-->
            <header>
                <div class="displayheader">
                    <div class="socitytitle">
                        <img src="./public/assets/img/mainlogo.jpeg" alt="logo du site"/>
                    </div>
                    <div class="menuheader">
                        <ul class="menu">
                            <li>
                                <a href="./index.php?url=home">
                                    <strong>Accueil</strong>
                                </a>
                            </li>
                            <li>
                                <a href="./index.php?url=shop">
                                    <strong>Intruments</strong>
                                </a>
                            </li>
                            <li>
                                <a href="./index.php?url=account">
                                    <strong>Compte</strong>
                                </a>
                            </li>
                            <li>
                                <a href="./index.php?url=basket">
                                    <strong>Panier</strong>
                                </a>
                            </li>
                            <li>
                                <a href="./index.php?url=orders">
                                    <strong>Commande</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
            </header>