<!--produit dans panier du user-->
<article class="instrument"> 
    <div class="productimage">
        <img src="{%urlImage%}" alt="image de produit"/>
    </div>   
    <div class="productcontent">
        <h3><strong>{%name%}</strong></h3>
        <ul>
            <li class="productdescription"><strong>description:</strong> {%description%}.</li>
            <li class="productquantity"><strong>quantité:    {%quantity%}.</strong></li>
            <li class="productprice"><strong>Prix: </strong>{%price%} euros.</li>
        </ul>
        <!--formulaire pour supprimer l'article du panier du user-->
        <form class="formdeletearticlefrombasket form_checker" action="./index.php?url=deleteArticleFromBasket" method="post">
            <input type="hidden"  name="id" value="{%id%}" required>
            <input name="csrf_token" type="hidden" value="{%$token%}">
            <button type="deletearticlefrombasket"><i class="fa-solid fa-trash-can"></i></button>
        </form>    
    </div>
</article>