<!--produit dans commande du user-->
<article class="instrument"> 
    <div class="productimage">
        <img src="{%urlImage%}" alt="image de produit"/>
    </div>   
    <div class="productcontent">
        <h3><strong>{%name%}</strong></h3>
        <ul>
            <li class="productdescription"><strong>description:</strong>   {%description%}.</li>
            <li class="productquantity"><strong>quantité:</strong>  {%quantity%}</li>
            <li class="productprice"><strong>Prix:</strong>  {%price%} euros.</li>
            <li><strong>Status de Commande :</strong> {%status%}</li>
        </ul>
    </div>
</article>