<article class="instrument"> <!-- classe provisoire a retravailler-->
    <div class="productimage">
        <img src="{%urlImage%}" alt="image de produit"/>
    </div>   
    <div class="productcontent">
    <h3><strong>{%name%}</strong></h3>
        <ul>
            <li class="productdescription"><strong>description:</strong> {%description%}.</li>
            <li class="productquantity"><strong>quantité:    {%quantity%}.</strong></li>
            <li class="productprice">Prix: {%price%} euros.</li>
            <li>Status de Commande : {%status%}</li>
        </ul>
    </div>
</article>